{{template "base" .}}

{{define "title"}}Аккаунт{{end}}

{{define "main"}}
<menu>
<li><a href="/create_user">Создать пользователя</a></li>
<li><a href="/change_password">Изменить пароль</a></li>
</menu>
{{end}}
