{{template "base" .}}

{{define "title"}}Аккаунт{{end}}

{{define "main"}}
<menu>
{{ if eq . "admin"}}
<li><a href="/create_user">Создать пользователя</a></li>
<li><a href="/change_users">Изменить пользователя</a></li>
{{ end }}
<li><a href="/change_password">Изменить пароль</a></li>
</menu>
{{end}}
