{{define "base"}}
<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}}</title>
    </head>
    <body>
        <header>
				<nav>
					<a href="/">Главная </a> |
					<a href="/rule">Правила </a> |
					<a href="/squid_config">squid </a> |
					<a href="/e2guardian_config">e2guardian </a> |
					<a href="/dnscrypt_config">dnscrypt-proxy </a> |
					<a href="/clamav_config">clamav</a> |
					<a href="/account">Аккаунт </a> |
					<a href="/journal">Состояние служб </a>
				</nav>
		</header> 
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}
