{{template "base" .}}

{{define "title"}}Cмена пароля для {{.}}{{end}}

{{define "main"}}
		<div>
			<form method="POST" action="/change_password"> 
				<h1>Укажите новый пароль для пользователя {{.}}</h1>
				<input type="hidden" name="login" value={{.}} />
				<label>Password</label><input required name="passwd" type="password" value="" />
				<input type="submit" value="Сохранить" />
			</form>
		</div>
{{end}}
