{{template "base" .}}

{{define "title"}}Создание пользователя{{end}}

{{define "main"}}
		<div>
			<form method="POST" action="/create_user"> 
				<h1>Создайте пользователя</h1>
				<label>Login</label><input required name="login" type="text" value="" />
				<label>Password</label><input required name="passwd" type="password" value="" />
				<select required name="role">
				<option disabled selected>Выберите роль</option>
				{{range $k:= .}}<option value={{$k}}>{{$k}}</option>{{end}}
				</select>
				<input type="submit" value="Отправить" />
			</form>
		</div>
{{end}}
