{{template "base" .}}

{{define "title"}}Настройки e2guardian{{end}}

{{define "main"}}
<h1>Настройки e2guardian</h1>
		<div>
			<form method="POST" action="/service"> 
				<p><label>Включить</label><input type="checkbox" name="on" value="on" {{ if eq .on "active" }} checked {{end}} > </p>
				<input type="hidden" name="service" value="e2guardian">
				<input type="submit" value="Выполнить"/>
			</form>
		</div>

		<div>
			<form method="POST" action="/e2guardian_config"> 
				<p><label>Подключить ClamAV</label><input type="checkbox" name="ClamAV" value="ClamAV" {{ if .ClamAV -}} checked {{end}}> </p>
				<input type="reset" value="Сбросить настройки" /><input type="submit" value="Сохранить" />
			</form>
		</div>
{{end}}
