{{template "base" .}}

{{define "title"}}Doplom Server{{end}}

{{define "main"}}

<h3>Squid {{ if eq .squid "active" }}&#128994;{{ end }} {{ if eq .squid "failed" }}&#128308;{{ end }} {{ if eq .squid "inactive" }}&#9898;{{ end }}  </h3>
<h3>E2guardian {{ if eq .e2guardian "active" }}&#128994;{{ end }} {{ if eq .e2guardian "failed" }}&#128308;{{ end }} {{ if eq .e2guardian "inactive" }}&#9898;{{ end }} </h3>
<h3>clamav {{ if eq .clamav "active" }}&#128994;{{ end }} {{ if eq .clamav "failed" }}&#128308;{{ end }} {{ if eq .clamav "inactive" }}&#9898;{{ end }} </h3>

{{end}}
