{{template "base" .}}

{{define "title"}}Настройки Squid{{end}}

{{define "main"}}
<h1>Настройки прокси сервера Squid</h1>
		{{ if eq .role "admin"}}
		<div>
			<form method="POST" action="/service"> 
				<p><label>Включить</label><input type="checkbox" name="on" value="on" {{ if eq .on "active" }} checked {{end}}> </p>
				<input type="hidden" name="service" value="squid">
				<input type="submit" value="Выполнить"/>
			</form>
		</div>
		{{ end }}

		<div>{{ if eq .role "admin"}}
			<form method="POST" action="/squid_config"> 
				<p><label>Порт </label><input required name="Port" type="number" value={{ .Port}} /></p>
				<p><label>Количество кеша оперативной памяти в MB </label><input required name="Cache" type="number" value={{ .Cache}} /></p>
				<p><label>Максимального размера кешируемого объекта в MB </label><input required name="MaximumObjectSize" type="number" value={{ .MaximumObjectSize}} /></p>
				<p><label>SSL Bumping </label><input type="checkbox" name="SSL" value="SSL" {{ if .SSL -}} checked {{end}}> </p>
				<p><label>Включить e2guardian</label><input type="checkbox" name="e2guardian" value="e2guardian" {{ if .e2guardian -}} checked {{end}}></p>
				<p><label>Включить dnscrypt-proxy </label><input required name="DNS" type="checkbox" value="DNS" {{ if .DNS -}} checked {{end}}> </p>

				<input type="reset" value="Сбросить настройки" /><input type="submit" value="Сохранить" />
			</form>

		<form action="/generate_certificate" method="post">
		    <input type="submit" name="generate" value="Сгенерировать сертификат" />
		</form>{{ end }}

		<form action="/get_certificate" method="post">
		    <input type="submit" name="get" value="Скачать сертификат" />
		</form>

		</div>
{{end}}
