{{template "base" .}}

{{define "title"}}Настройки Squid{{end}}

{{define "main"}}
<h1>Настройки прокси сервера Squid</h1>
		<div>
			<form method="POST" action="/squid_config"> 
				<p><label>Порт </label><input required name="port" type="number" value="3128" /></p>
				<p><label>Количество кеша оперативной памяти в MB </label><input required name="cache" type="number" value="64" /></p>
				<p><label>Максимального размера кешируемого объекта в MB </label><input required name="maximum_object_size" type="number" value="10" /></p>
				<p><label>SSL Bumping </label><input type="checkbox" name="SSL" value="SSL"> </p>
				<!--<p><label>Включить e2guardian</label><input type="checkbox" name="a" value="1417"> </p>
				<p><label>Включить dnscrypt-proxy </label><input required name="dns" type="checkbox" value="127.0.0.1" /></p>
-->
				<input type="reset" value="Сбросить настройки" /><input type="submit" value="Сохранить" />
			</form>

		<form action="/generate_certificate" method="post">
		    <input type="submit" name="generate" value="Сгенерировать сертификат" />
		</form>

		<form action="/get_certificate" method="post">
		    <input type="submit" name="get" value="Скачать сертификат" />
		</form>

		</div>
{{end}}
